.main {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
}


.error {
    text-align: center;
    color: brown;
}

.form {
    width: 100%;
    height: 100%;
    margin-top: 8px;
}

.field {
    margin-bottom: 15px !important;
}

.submit {
    margin-top: 24px;
}

.button_action {
    color: white !important;
    background-color: #FF7D50 !important;
}

.paper {
    padding: 16px 24px 24px;
    display: inline-block;
    margin: 0 20px;
    background: rgba(255,255,255,0.5) !important;
    margin-top: 160px;
}

.form-syling {
    padding-top: 15% !important;
}

.login {
    background-image: url("https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-size: cover;
    background-color: #ccc;
    min-height: 676px;
}

.footer {
    background-color: #212121;
    text-align: center;
    height: 51px;
    margin-top: -16px;
}

.text-color {
    color: white;
}

.footer-text {
    padding-top: 15px;
}
